.hide
{
  display: none;
}

img, embed, object, video {
  max-width: 100%; }

video {
  max-width: 100%
  height: auto;

}

html {
  box-sizing: border-box; 
}

*,
*::before,
*::after {
  box-sizing: inherit; }

img {
  -ms-interpolation-mode: bicubic; 
}

@font-face {
font-family: 'lustriaregular';
src: url('../fonts/lustria-regular-webfont.eot');
src: url('../fonts/lustria-regular-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/lustria-regular-webfont.woff') format('woff'),
url('../fonts/lustria-regular-webfont.ttf') format('truetype'),
url('../fonts/lustria-regular-webfont.svg#lustriaregular') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'latoregular';
src: url('../fonts/lato-regular-webfont.eot');
src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/lato-regular-webfont.woff') format('woff'),
url('../fonts/lato-regular-webfont.ttf') format('truetype'),
url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
font-weight: normal;
font-style: normal;
}



body
{
  font-family: 'latoregular', Helvetica, Arial, sans-serif;
  background: url(../images/background.svg) ;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

a 
{ 
  color:#e59d03; 
  text-decoration: none;  
  transition:all .1s linear 0s;
}

h2, h3
{
  font-family: 'lustriaregular', Times, "Times New Roman", serif;
  color: #215445;
}

.container {
  margin: 0px auto;
  padding: 0px 15px 0 15px;
  max-width: 1200px; 
}


#mainHeader
{
  margin: 5px 0 20px 0;
}

#mainNav
{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

#mainNav button
{
  margin-left: auto;
}


#mainNav input[type=text]
{
  display: block;
  width: 100%;
  height: 40px;
  padding: 5px;
  border: 1px solid #cacaca;
  border-radius: 3px 0 0 3px;
  background-color: #fefefe;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  line-height: 1.5;
  color: #0a0a0a;
}

#mainNav input[type=submit]
{
  height: 40px;
  width: 100px;
  border: 1px solid transparent;
  border-radius: 0 3px 3px 0;
  font-size: 0.75em;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: #f3830d;
  color: #fefefe;
}


#navContain
{
  display: none;
  margin-top: 20px;
}

#navContain.slideToggle
{
  display: block;
}

#mainNav button
{
  background: url(../images/burger.svg) center no-repeat;
  border: 0;
  width: 35px;
  height: 35px;
  transition: all 400ms ease;
}

#mainNav button.expanded
{

  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);

  /* default transform */
  transform: rotate(90deg);
}

#mainNav li a
{
  display: block;
  color: #8ea76d;
  padding: 10px 0;
  text-align: center;
}

#mainNav li
{
  border-bottom: 1px solid #efefef;
}

#mainNav li: first-child
{
  border-top: 1px solid #efefef;
}

#mainNav li: last-child
{
  margin-bottom: 10px;
}

#mainNav li a:hover
{
  background-color: #efefef;
}


#ballaLogo
{
  display: block;
  max-width: 140px;
  margin: 0 auto;
}


#banner
{
  background-color: #ccc;
  margin-bottom: 30px;
  height: 500px;
  background-image: url(../images/banner4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 15px;
}

#bannerAbout
{
  background-color: #ccc;
  margin-bottom: 30px;
  height: 500px;
  background-image: url(../images/about-banner2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 15px;
}

#bannerProduct
{
  background-color: #ccc;
  margin-bottom: 30px;
  height: 500px;
  background-image: url(../images/product-banner2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 15px;
}

#bannerAdv
{
  background-color: #ccc;
  margin-bottom: 30px;
  height: 500px;
  background-image: url(../images/adv-banner2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 15px;
}
#info
{
  background: rgba(255, 255, 255, 0.64);
  padding: 10px 20px 0 20px;
  height: 470px;
  max-width: 970px;
  margin: 0 auto;
  text-align: center;
}

#info h2
{
  font-size: 3.125em;
  margin-bottom: 15px;
  text-align: center;
}

#info h3
{
  font-size: 3.575em;
  letter-spacing: 0.25px;
  line-height: 18px;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 100px;
}

#info p
{
  font-family: serif;
  color: #c58548;
  font-size: 1.5em;
  margin-top: 50px;
  line-height: 20px;
  margin-bottom: 15px;
  text-align: center;
}

#bookNow
{
  font-family: 'lustriaregular', Times, 'Times New Roman', serif;
  display: inline-block;
  width: 120px;
  color: #fff;
  background-color: burlywood;
  padding: 0.75em 0;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  line-height: 1em;
  border-radius: 50px;
  border: double;
  margin-bottom: 20px;
}

#bookNow:hover
{
  background-color: #215445;
  padding: 1em;
}

#scroll
{
  font-family: 'lustriaregular', Times, 'Times New Roman', serif;
  display: inline-block;
  width: 120px;
  color: #fff;
  background-color: burlywood;
  padding: 0.75em 0;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  line-height: 1em;
  border-radius: 50px;
  border: double;
  margin-bottom: 20px;
  cursor: pointer;
}

#scroll:hover
{
  background-color: #215445;
  padding: 1em;
}

#serviceContain
{
  margin-bottom: 10px;
}
.services
{
  margin-bottom: 20px; 
  padding-top: 1px;
}

.services h2
{
  font-size: 1.5em;
  margin-bottom: 5px;
  margin-top: 15px;
}

.services h3
{
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 20px;
}

.services p
{
  color: #f57219;
  font-size: 0.875em;
  line-height: 22px;
  text-align: justify;
}

.icon
{
  float: left;
  max-width: 70px;
  margin: 0 20px 0 0;
}


#extraContain
{
  margin-bottom: 60px;
  margin-top: 20px;
}

#extraContain2
{
  margin-bottom: 60px;
  margin-top: 20px;
}

.extras-img
{
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
}

.extras h2
{
  font-size: 1.55em;
  line-height: 0;
  margin-bottom: 30px;
  font-family: b612;
}

.extras p
{
  color: #229877;
  font-size: 0.875em;
  line-height: 22px;
  padding: 10px;
  background-color: #faebd761;
}

.extrasFragrance h2 
{
  font-size: 1.55em;
  line-height: 0;
  margin-bottom: 30px;
  font-family: b612;
}

.extrasFragrance p
{
  color: #229877;
  font-size: 0.875em;
  line-height: 22px;
  padding: 10px;
  background-color: #faebd761;
}

h2.new
{
  font-size: 80px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px;
  animation-name: example;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
#footerContain
{
  background-image: url(../images/footer.jpg);
  height: 200px;
}

#backButton
{
  text-decoration: none;
  color: #fff;
  line-height: 70px;
  font-size: 0.75em;
}

#backButton:hover
{
  color: #333;
}

#footerNav
{
  display: none;
}


@media screen and (min-width: 25.063em)
{
  #info h2
  {
    font-size: 4.5em;
  }

  #info h3
  {
    font-size: 5.0875em;
    letter-spacing: 0.25px;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  #info p
  {
    font-size: 1.875em;
    margin-top: 10px;
    margin-bottom: 50px
  }
  .extrasFragrance{
    padding-left: 35px;
  }


}


@media screen and (min-width: 30em)
{
  #info 
  {
    background: no-repeat rgba(255, 255, 255, 0.64);
  }
}


@media screen and (min-width: 38.75em)
{
  #info h2
  {
    font-size: 5.25em;
    margin-top: 10px;
  }

  #info h3
  {
    font-size: 7em;
    letter-spacing: 0.25px;
  }

   h2.new
  {
    font-size: 80px;
    text-align: center;
    
  }

  #info p
  {
    font-size: 3em;
    width: 100%;
    margin-bottom: 50px;
  }
  
  .history
  {
    font-size: 80px;
    text-align: center;
  }
  
}


@media screen and (min-width: 40em)
{
  #serviceContainm #extraContain
  {
    display: flex;
  }

  .services
  {
    margin-right: 20px;
  }

  .services:last-child
  {
    margin-right: 0;
  }

  .icon
  {
    max-width: 50px;
    margin-right: 8px;
  }

  .services p
  {
    color: #f57219;
    font-size: 0.875em;
    line-height: 22px;
    text-align: left;
    background-color: #faebd761;
    padding: 10px;
  }

  .services h2
  {
    font-size: 0.925em;
    margin-top: 10px;
    margin-bottom: 5px;
    line-height: 14px;
  }

  .services h3
  {
    font-size: 0.875em;
    margin-top: 0;
    margin-bottom: 20px;
  }

  #banner
  {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/banner3.jpg);
  }

  #bannerAbout
  {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/about-banner.jpg);
  }
  #bannerProduct
  {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/product-banner.jpg);
  }

  #bannerAdv
  {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/adv-banner.jpg);
  }


  #backButton
  {
    display: none;
  }

  .footer-links a:hover{
    border:  solid #ffffff;
    background-color: #b55b132e;
  }
}


@media screen and (min-width: 50em)
{
  #info
  {
    background: no-repeat rgba(242, 243, 241, 0.76); 
  }
}


@media screen and (min-width: 61.875em)
{
  #info p
  {
    width: 100%;
    margin-bottom: 50px;
  }
}


@media screen and (min-width: 64em)
{
  #mainHeader
  {
    display: flex;
    margin-top: 20px;
    width: auto;
  }

  #button
  {
    display: none;
  }

  #navContain
  {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  #mainNav
  {
    text-align: right;
    text-transform: uppercase;
    font-size: 0.875em;
    margin-left: auto;
  }

  #navList
  {
    text-align: right;
    margin-top: 100px;
    font-size: 25px;
  }

  #mainNav li
  {
    border-bottom: none;
    display: inline;
    margin-left: 20px;
  }

  #mainNav li a 
  {
    background-color: #ffffff70;
    display: inline;
    padding: 5px 0;
    text-decoration: none;
    color: #e5a003;
  }

  #mainNav li a:hover
  {
    color: #8fa777;
    border-bottom: 3px solid #8fa771;
    padding-bottom: 5px;
    background-color: transparent;
  }

  .services a:hover
  {
    color: #8fa777;
    border-bottom: 3px solid #8fa771;
    padding-bottom: 5px;
    background-color: transparent;
  }

  #mainNav li:first-child
  {
    border-top: none;
  }

  #mainNav li:last-child
  {
    margin-bottom: 0;
  }

 

  #Brand
  {
    order: -1;
  }

  #ballaLogo
  {
    max-width: 160px;
  }


  #serviceContain
  {
    display: flex;
    margin-left: 200px;
  }

  .services
  {
    margin-right: 20px;
  }

  .services:last-child
  {
    margin-right: 180px;
    margin-left: 180px;
  }

  .icon
  {
    max-width: 15%;
  }

  .services p
  {
    font-size: 0.9375em;
    max-width: 400px;
    background-color: #faebd761;
    padding: 10px;
  }

  .services h2
  {
    font-size: 1.25em;
  }

  .services h3
  {
    font-size: 0.875em;
  }


  #extraContain
  {
    display: flex;
  }

  .extras:last-child
  {
    margin-left: 40px;
  }

}

@keyframes example {
  from {background-color: red;}
  to {background-color: yellow;}
}



@media screen and (min-width: 50em)
{
  
    
}

@media screen and (min-width: 20.065em)
{
  
}


  font-family: Open Sans;
}

section {
  width: 100%;
  display: inline-block;
  background: #333;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed{
  background: #81776f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

.footer-distributed .footer-left{
  width: 40%;
}


.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Open Sans', cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  lightseagreen;
}


.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  font-weight:400;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}


.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  font-weight:400;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  lightseagreen;
  text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}


.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}


@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}

 .aboutH2
{
  text-align: center;
}

.about
{
  width: 500px;
}

.history
{
  font-size: 80px;
  text-align: center;
  margin-bottom: 50px;
}

.historyText
{
  text-align: center;
  font-size: 20px;
  color: #0c5641;
  background-color: #c1c1bb4f;
  text-transform: uppercase;
}

#bodyAbout
{
  font-family: 'latoregular', Helvetica, Arial, sans-serif;
  background: url(../images/background3.png) fixed;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

#bodyAdv
{
  font-family: 'latoregular', Helvetica, Arial, sans-serif;
  background: url(../images/background4.jpg) fixed;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

#bodyContact
{
  font-family: 'latoregular', Helvetica, Arial, sans-serif;
  background: url(../images/contact-background.jpg) fixed;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

* {
box-sizing: border-box;
}
.Slide {
display: none;
}
.Slide2{
  display: none;
}
.Slide img{
vertical-align: middle;
width: 100%;
height: 400px;
}

.Slide2 img{
vertical-align: middle;
width: 100%;
height: 400px;
}
.slideContainer {
max-width: 600px;
position: relative;
margin: auto;
}
.slideContainer2 {
max-width: 600px;
position: relative;
margin: auto;
}
.prevBtn,
.nextBtn{
position: absolute;
top: 50%;
width: auto;
padding: 10px;
background-color: rgb(255, 255, 75);
color: rgb(50, 0, 116);
font-weight: bolder;
font-size: 18px;
}
.prevBtn2,.nextBtn2{
  position: absolute;
top: 50%;
width: auto;
padding: 10px;
background-color: rgb(255, 255, 75);
color: rgb(50, 0, 116);
font-weight: bolder;
font-size: 18px;
}
.nextBtn {
right: 0;
}
.nextBtn2 {
  right: 0;
}
.selected:hover {
background-color: #d9ff00;
}
@media only screen and (max-width: 450px) {
.prevBtn,
.nextBtn,.prevBtn2,.nextBtn2 {
font-size: 16px;
}
}

@media only screen and (min-width: 50em) {

  .historyText{
    width: 800px;
    margin: auto;
  }
}

#introContain{;
  text-align: center;
  background: #faebd7;
  border: 10px #e25b2a solid;
  border-radius: 10px;
  border-style: ridge;
  margin-top: 10px;
}
#introContain2{;
  text-align: center;
  background: #faebd7;
  border: 10px #229877  solid;
  border-radius: 10px;
  border-style: ridge;
  margin-top: 10px;
}

#introProduct{
  font-size: 50px; 
}

.historyText a{
  background-color: #215445bd;
}
.historyText a:hover{
  padding: 10px;
}

.extrasFragrance{
 
}
}

@media only screen and (min-width: 620px){
  .extrasfragrance{
    padding-left: 35px;
  }
}


#fade {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
}

#light {
  display: none;
  position: sticky;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  border: 2px solid #FFF;
  background: #FFF;
  z-index: 1002;
  overflow: visible;
}

#boxclose {
  float: right;
  cursor: pointer;
  color: #fff;
  border: 1px solid #AEAEAE;
  border-radius: 3px;
  background: #222222;
  font-size: 31px;
  font-weight: bold;
  display: inline-block;
  line-height: 0px;
  padding: 11px 3px;
  position: absolute;
  right: 2px;
  top: 2px;
  z-index: 1002;
  opacity: 0.9;
}

.boxclose:before {
  content: "×";
}

#fade:hover ~ #boxclose {
  display:none;
}


#button2 {
  border: 0;
  padding: 0;
  height: 0;
  cursor: pointer;
}

.button3{
  background-color: #efcfb5;
  padding: 10px;

}

.form{
  padding: 6px;
  margin-bottom: 20px;
  background-color: #efcfb5;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}



.containerContact {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}


#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

#confirmForm{
  background-color: #229877;
  text-transform: capitalize;
}

#confirmForm h3 {
  text-align: center;
  font-size: 40px;
  padding: 30px;
  color: bisque;
}

#confirmForm p {
  text-align: center;
  font-size: 20px;
  color: antiquewhite;
  padding: 10px;
}

